
.container{
    margin-right: 200px;
    margin-left: 200px;
}

.card{
    margin-bottom: 30px;
    border: 2px solid;
    
}

.card-header{
    padding-top: 5px;
    padding-bottom: 5px;
    /* margin-bottom: 30px; */
}

.card-flex{
    display: flex;
    margin-top: 5px;
    margin-left: 3px;
}

.card-flex p{
    width: 600px;
}

.card-flex a{ 
    font-size: larger;
    border: 1px solid;
}
.link-item{
    margin-top: 20px;
}
.card-flex a:hover{
    background: #1fe111;
    width: 30px;
    border: none;
    border-radius: 6px;
}
.card-about{
    margin-left: 20px;
}

.img-itme{
    width: 400px;
}

.info-movie{
    font-weight: normal;
    font-size: large;
}

.space{
    margin-bottom: 80px;
}